body {
    width: 100%;
    height: 100%;
    background: #000;
    background: url("img/bg.png");
    overflow: hidden;
    font-family: 'Poller One', cursive;
}
#fade{
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
#wrapintro{
    display: flex;
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
}
#wrapintro2{
    position: absolute;
}
#wrapintro2 p{
    font-size: 200%;
    color: #27a;
    opacity: 0;
    animation: opacity 6s linear;
}
#wrapimg{
    display: flex;
    position: absolute;
    top: 50%;
    left:50%;
}
#wrapimg2{
    position: absolute; 
}
#wrapimg2 img{
    opacity: 0;
    animation: zoomout 5s linear 3s;
}
#wrapper{
    display: flex;
    position: relative;
    height: 800px;
    color: #ff0;
    font-size: 400%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
}
#wrapper2{
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 40s linear 7s;
    text-transform: uppercase;
}
#wrapper2 h1{
    margin: 0 0 50px;
    font-size: 130%;
    font-weight: bolder;
    text-align: center;
}
#wrapper2 p{
    margin: 150px 0;
}
#audio{
    opacity: 0;
}
@keyframes opacity{
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:0;}
}
@keyframes zoomout{
    0% {
        width: 400px;
        margin-top: -200px;
        margin-left: -200px;
        opacity: 1;
    }
    100% {
        width: 0;
        margin-top: 0;
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes crawl{
    0% {
        top: 300px;
        transform: rotateX(20deg)  translateZ(125px);
  }
    100% { 
        top: -18000px;
        transform: rotateX(25deg) translateZ(-7500px);
  }
}
